code {
    text-align: center;
    font-weight: bold;
    font-family: arial;
    font-style: normal;
    font-size: 12px;
    display: block;
    color: #FFFFFF;
    padding: 6px 20px 6px 20px;
    text-shadow: text-shadow2px 2px 3px #000000;
}
#logo {
    
}
h1 {
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
    color: #0C0845;
    font-size: 50px;
    text-align: center;
}
h2  {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.50);
    color: #020D18;
    font-size: 16px;
    text-align: center;
}
h3 {
    text-align: center;
}
h4  {
    color: #020D18;
    font-size: 14px;
}
img.imagen {
    vertical-align: middle;
}
#formulario-home{
    max-width: 600px;
    background: #FAFAFA;
    padding: 5px;
    margin: 15px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 7px;
    border: 4px solid #305A72;
}
#menu-bar {
  width: 99%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 30px;
  line-height: 100%;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  box-shadow: 2px 2px 3px #FCFCFC;
  -webkit-box-shadow: 2px 2px 3px #FCFCFC;
  -moz-box-shadow: 2px 2px 3px #FCFCFC;
  background: #782026;
  background: linear-gradient(top,  #C24621,  #190F7A);
  background: -ms-linear-gradient(top,  #C24621,  #190F7A);
  background: -webkit-gradient(linear, left top, left bottom, from(#C24621), to(#190F7A));
  background: -moz-linear-gradient(top,  #C24621,  #190F7A);
  border: solid 1px #6D6D6D;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  text-shadow: text-shadow2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #025A7D;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}



#footer {
  width: 99%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 30px;
  line-height: 100%;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  box-shadow: 2px 2px 3px #FCFCFC;
  -webkit-box-shadow: 2px 2px 3px #FCFCFC;
  -moz-box-shadow: 2px 2px 3px #FCFCFC;
  background: #782026;
  background: linear-gradient(top,  #C24621,  #190F7A);
  background: -ms-linear-gradient(top,  #C24621,  #190F7A);
  background: -webkit-gradient(linear, left top, left bottom, from(#C24621), to(#190F7A));
  background: -moz-linear-gradient(top,  #C24621,  #190F7A);
  border: solid 1px #6D6D6D;
  position:relative;
  z-index:999;
}
#footer li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#footer a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  text-shadow: 2px 2px 3px #000000;
}
#footer li ul li a {
  margin: 0;
}
#footer .active a, #footer li:hover > a {
  background: #025A7D;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#footer ul li:hover a, #footer li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#footer ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#footer li:hover > ul {
  display: block;
}
#footer ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#footer ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#footer ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#footer ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#footer ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#footer:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#footer {
  display: inline-block;
}
  html[xmlns] #footer {
  display: block;
}
* html #footer {
  height: 1%;
}


input[type="text"] { 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 160px; 
    padding-left:10px; 
    padding-right:10px; 
}
input[type="password"] { 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 160px; 
    padding-left:10px; 
    padding-right:10px; 
}
input[type="date"] { 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 160px; 
    padding-left:10px; 
    padding-right:10px; 
}
input[type="email"] { 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 160px; 
    padding-left:10px; 
    padding-right:10px; 
}
select { 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: auto; 
    padding-left:10px; 
    padding-right:10px; 
}
div#reportes{
    margin: auto;
    border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #000000;
    background-color: #DDDDDD;
}
div#contenedor{
    margin: auto;
    border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #000000;
/*    background-color: #f3e1fa;*/
    background-color: #DDDDDD;
}
div#contenedor_insertar{
    margin: auto;
    border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #000000;
/*    background-color: #eae8eb;*/
    background-color: #DDDDDD;
}
div#contenedor_editar{
    margin: auto;
    border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #000000;
/*    background-color: #eae8eb;*/
    background-color: #DDDDDD;
}
div#contenedor_editar_permisos{
    margin: auto;
    border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #000000;
/*    background-color: #eae8eb;*/
    background-color: #DDDDDD;
}
div#contenedor{
    margin: auto;
    border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #000000;
/*    background-color: #eae8eb;*/
    background-color: #DDDDDD;
}
div#contenedor_home{
    margin: auto;
    border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #000000;
/*    background-color: #eae8eb;*/
    background-color: #DDDDDD;
}
div#contenedor_insertar{
    margin: auto;
    border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #000000;
/*    background-color: #eae8eb;*/
    background-color: #DDDDDD;
}
div#contenedor_editar{
    margin: auto;
    border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #000000;
/*    background-color: #eae8eb;*/
    background-color: #DDDDDD;
}
#cabecera td{
    background: #780212;
    color: white;
}
div#datos table, table td, table tr {
    padding:0px;
    border-spacing: 0px;
}
div#datos table {
    border:1px black solid;
    border-radius:6px;
    min-width:400px;
    font-family: Helvetica,Arial;
}
div#datos table td {
    padding:4px;
}
div#datos table tr:first-child td:first-child {
    border-radius:5px 0px 0px 0px;
}
div#datos table tr:first-child td:last-child {
    border-radius:0px 5px 0px 0px;
}
div#datos table tr:last-child td:first-child {
    border-radius:0px 0px 0px 5px;
}
div#datos table tr:last-child td:last-child {
    border-radius:0px 0px 5px 0px;
}
div#datos table td:not(:last-child) {
    border-right:1px #666 solid;
}
div#datos table tr:nth-child(2n) {
/* background: #87CEEB;*/
/*background: #ADD8E6;*/
    background: #FFFFFF;
}
div#datos table tr:nth-child(2n+1){
/* background: #ADD8E6;*/
    background: #87CEEB;
}
/*div#datos table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
 background:#E0FFFF;
}*/
div#datos table:not(.header) tr {
    text-align: left;
}
div#datos table.header tr:first-child {
    font-weight: bold;
    color:#fff;
    background-color: #444;
    border-bottom:1px #000 solid;
}
div#datos table.header tr:nth-child(n+2) {
    text-align: right;
}